*{
    margin: 0px;
    padding: 0px;
}
:root{
    --Cor-1: #FFD12F;
    --Cor-2: #8A6B00;
    --Cor-3: #56000096;
    --Cor-4: #560000c4;
    --Cor-5: #2F0E0E;
    --FontParágrafos: 'League Spartan', sans-serif;
    --FontTitles: 'Marck Script', cursive;
}
@keyframes abrirCardápio {
    0%{
        height: 0px;
    }
    100%{
        height: 600px;
    }
}

body{
    background-color: black;
    overflow-x: hidden;
}
#SeçãoTopo{
    background-image: url("imagens/background-pizzaria-teste-G.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}
header{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
#AbaMenu{
    width: 400px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.bttNormalMenu{
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family: var(--FontParágrafos);
    font-size: 11pt;
    font-weight: 600;
}
#pedidoBTT{
    background-color: var(--Cor-1);
    color: var(--Cor-5);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--FontParágrafos);
    font-size: 11pt;
    font-weight: 600;
}
#PresentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 400px;
    left: calc( 50% - 200px);
    top: 20%;
    position: absolute;
}
#BemVindoBox h1{
    color: var(--Cor-1);
    font-family: var(--FontTitles);
    font-size: 45pt;
    font-weight: 400;
}
#LogoBox img{
    width: 280px;
}
#SocialNetWork{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 90vh;
    right: 30px;
    width: 70px;
}
#SocialNetWork img{
    height: 30px;
}




#SeçãoQuemSomos{
    height: 100vh;
}
#História{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
}
.NomePizza{
    color: var(--Cor-2);
    font-family: var(--FontTitles);
    font-weight: 400;
    font-size: 28pt;
    margin-left: 70px;
}
.DescWho{
    font-family: var(--FontTitles);
    font-weight: 500;
    font-size: 28pt;
    margin-top: -20px;
}
.QuemSomosParágrafo{
    font-family: var(--FontParágrafos);
    font-size: 12pt;
    margin-top: 20px;
}
.bttVerMais{
    background-color: var(--Cor-2);
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 13px;
    padding-right: 13px;
    color: white;
    font-family: var(--FontTitles);
    font-size: 12pt;
    cursor: pointer;
}
#TextHistória{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: white;
}
#imgRestaurante{
    width: 50%;
    height: 100%;
    background-image: url("imagens/foto_pizzaria.jpg");
    background-size: cover;
    opacity: 0.5;
}
#TextQuemSomos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: white;
}
#imgNós{
    width: 50%;
    height: 100%;
    background-image: url("imagens/foto_pizza_média.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
#QuemSomos{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50vh;
}

#SeçãoCardápio{
    width: 100%;
    height: max-content;
}
#desconto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
    width: 100%;
    background-image: url("imagens/backgroundDesconto1.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 150px 50px black;
}
#PorcentoDesconto{
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 35pt;
    font-weight: 400;
}
#DescDesconto{
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 12pt;
}
.ShowCardapio1{
    display: block;
    background-color: var(--Cor-2);
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 15pt;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.ShowCardapio2{
    display: none;
}
#ShowCardapio:hover{
    transition: 0.2s;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.27);
}
.Cardápio1-1{
    height: 0px;
    background-color: green;
}
.Cardápio1-2{
    animation-name: abrirCardápio;
    animation-duration: 0.5s;
    animation-direction: normal ;
    animation-iteration-count: initial;
    height: 750px;
    background-color: white;
}
.Opções1{
    display: none;
}
.Opções2{
    max-width: 1300px;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 420px 200px;
    justify-content: center;
    gap: 50px;
    margin: auto;
}
.TiposPizzaCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: auto;
    width: 500px;
    margin-top: 30px;
    gap: 10px;
}
.LinhaEsquerda{
    height: 1px;
    width: 20%;
    border-top: 1px solid rgb(29, 29, 29);
}
.TitlePizzas{
    color: var(--Cor-2);
    font-family: var(--FontParágrafos);
    font-weight: 600;
}
.LinhaDireita{
    height: 1px;
    width: 30%;
    border-top: 1px solid rgb(29, 29, 29);
}
.Sabores{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 30px;
}
.Sabor{
    margin-top: 20px;
}
.ContentPizza{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}
.NomeSabor{
    font-family: var(--FontTitles);
    font-size: 25pt;
    font-weight: 400;
    color: var(--Cor-2)
}
.TextoSabor{
    font-family: var(--FontParágrafos);
    font-size: 12pt;
    margin-top: 5px;
    max-width: 400px;
}
#LinhaSeparadora1{
    border-top: 1px dashed gray;
    width: 40%;
}
#LinhaSeparadora2{
    border-top: 1px dashed gray;
    width: 20%;
}
#LinhaSeparadora3{
    border-top: 1px dashed gray;
    width: 25%;
}
#LinhaSeparadora4{
    border-top: 1px dashed gray;
    width: 35%;
}
#LinhaSeparadora5{
    border-top: 1px dashed gray;
    width: 30%;
}
#LinhaSeparadora6{
    border-top: 1px dashed gray;
    width: 20%;
}
#LinhaSeparadora7{
    border-top: 1px dashed gray;
    width: 3%;
}
#LinhaSeparadora8{
    border-top: 1px dashed gray;
    width: 10%;
}
#LinhaSeparadora9{
    border-top: 1px dashed gray;
    width: 10%;
}
#LinhaSeparadora10{
    border-top: 1px dashed gray;
    width: 20%;
}
#tiposBordas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 950px;
}
.BttRedCard1{
    display: none;
}
.BttRedCard2{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 30px;
    gap: 50px;
    align-content: center;
    justify-content: center;
}
#bttCloseCardápio, #MonteSeuPedidobtt{
    background-color: var(--Cor-1);
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 150px;
    color: var(--Cor-5);
    font-family: var(--FontParágrafos);
    font-weight: 600;
    cursor: pointer;
}

#SlidesPratos{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: gray;
}

/*Edição da barra de scroll para o Chromes*/
#SlidesPratos::-webkit-scrollbar{
    background-color: black;
    height: 8px;
}
#SlidesPratos::-webkit-scrollbar-thumb{
    background-color: var(--Cor-2);
    height: 10px;
    border-radius: 5px;
}

.BoxPratos{
    width: 300px;
}
.BoxShowHover{
    width: 300px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.fundoLupa{
    display: none;
}
.DisheName{
    display: none;
}
.BoxShowHover:hover{
    transition: 0.2s;
    width: 300px;
    height: 100%;
    background-color: rgba(116, 0, 0, 0.712);
    .fundoLupa{
        background-color: rgba(131, 131, 131, 0.377);
        height: 60px;
        width: 60px;
        border-radius: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .fundoLupa img{
        rotate: -90deg;
        height: 35px;
        width: 35px;
    }
    .DisheName{
        display: block;
        color: var(--Cor-1);
        font-family: var(--FontTitles);
        font-size: 18pt;
        font-weight: 400;
    }
}
#Prato1{
    background-image: url('imagens/pizza_marguerita.jpg');
    background-size: cover;
    background-position: left center;
}
#Prato2{
    background-image: url('imagens/pizza_peperoni.jpg');
    background-size: cover;
    background-position: left center;
}
#Prato3{
    background-image: url('imagens/pizza_4queijos.jpg');
    background-size: cover;
    background-position: left center;
}
#Prato4{
    background-image: url('imagens/pizza_vegetariana.jpg');
    background-size: cover;
    background-position: left center;
}
#Prato5{
    background-image: url('imagens/pizza_mediterrânea.jpg');
    background-size: cover;
    background-position: left center;
}
#Prato6{
    background-image: url('imagens/pizza_FrangoCatupiry.jpg');
    background-size: cover;
    background-position: left center;
}
#Prato7{
    background-image: url('imagens/pizza_calabresa.jpg');
    background-size: cover;
    background-position: left center;
}
footer{
    background-color: rgba(0, 0, 0, 0.938);
    height: 400px;
}
#LogoFooter{
    position: relative;
    left: 20px;
    bottom: -20px;
    width: 100px;
}
#LogoFooter img{
    height: 100px;
}
#Contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    gap: 150px;
}
.CardContato{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 200px;
}
.TitleContatos{
    color: var(--Cor-2);
    font-size: 12pt;
    font-family: var(--FontParágrafos);
}
.InfoContato{
    margin-top: 10px;
}
.SecTitleContact{
    color: white;
    font-family: var(--FontParágrafos);
    font-size: 10pt;
}
.TextContact{
    color: gray;
    font-family: var(--FontParágrafos);
    font-size: 10pt;
    font-weight: 300;
    margin-top: 5px;
}
.LocalContactBox{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
}
.IconContact{
    height: 20px;
}
#CopyWriting{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: var(--FontParágrafos);
}
#InfoImages p{
    font-size: 10pt;
    font-weight: 300;
    color: white;
}
#Direitos{
    display: flex;
    flex-direction: row;
    gap: 3px;
}
#Selo{
    font-size: 10pt;
    font-weight: 400;
    color: white;
}
#AlbertRights{
    font-size: 10pt;
    font-weight: 500;
    color: var(--Cor-1);
}
#ComlementoAlbert{
    font-size: 10pt;
    font-weight: 300;
    color: white;
}